@using Models
@{
    ViewBag.Title = "Choose Your Ride";
   
    var brands = ViewBag.Brands as IEnumerable<string> ?? new List<string>();
}

<div class="container mt-4">
    <div class="card shadow border-0">
        <div class="card-header bg-primary text-white">
            <h3><i class="fa fa-car"></i> Select a Vehicle</h3>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="fw-bold">1. Brand</label>
                    <select id="brandDrop" class="form-select">
                        <option value="">-- Select Brand --</option>
                        @foreach (var b in brands)
                        {
                            <option value="@b">@b</option>
                        }
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="fw-bold">2. Model</label>
                    <select id="modelDrop" class="form-select" disabled>
                        <option value="">-- Select Model --</option>
                    </select>
                </div>
            </div>

            <div id="detailsArea" class="mt-4 p-3 border rounded bg-light" style="display:none;">
                <div id="specs" class="row text-center"></div>
                <div class="alert alert-info mt-3 small">
                    <i class="fa fa-clock"></i> Live Timer: Billing starts when you confirm your details.
                </div>
                <a id="bookBtn" class="btn btn-success w-100 btn-lg mt-2">Start My Rental</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
      
        $('#brandDrop').change(function () {
            var b = $(this).val();
            $('#detailsArea').hide();
            $('#modelDrop').empty().append('<option value="">-- Select Model --</option>').prop('disabled', !b);

            if (b) {
                $.get('/Vehicle/GetModels', { brand: b }, function (data) {
                    $.each(data, function (i, m) {
                        $('#modelDrop').append($('<option>', { value: m, text: m }));
                    });
                });
            }
        });

        
        $('#modelDrop').change(function () {
            var m = $(this).val();
            if (m) {
                $.get('/Vehicle/GetVehicleDetails', { model: m }, function (v) {
                    var dailyRate = parseFloat(v.dailyRate) || 0;
                    var rate = (dailyRate / 24).toFixed(2);

                    $('#specs').html(`
                        <div class="col-4"><b>Brand:</b><br>${v.brand}</div>
                        <div class="col-4"><b>Model:</b><br>${v.model}</div>
                        <div class="col-4 text-success"><b>$${rate}/hr</b></div>
                    `);


        $('#bookBtn').attr('href', '/Customer/Create?vehicleId=' + v.vehicleID);
                    $('#detailsArea').fadeIn();
                });
            }
        });
    </script>
}