@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Hi, <marquee><b class="text-primary">@User.Identity?.Name!</b></marquee> </span>
        </li>

        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-primary fw-bold" href="#" id="adminNav" role="button" data-bs-toggle="dropdown">
                     Management
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Vehicle" asp-action="Index"> Vehicles</a></li>
                    <li><a class="dropdown-item" asp-controller="Customer" asp-action="Index"> Customers</a></li>
                    <li><a class="dropdown-item" asp-controller="Payment" asp-action="Index"> Payments</a></li>
                    <li><a class="dropdown-item" asp-controller="Lease" asp-action="Index"> Leases</a></li>
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-success fw-bold" asp-controller="Vehicle" asp-action="ChooseRide"> Book a Ride</a>
            </li>
        }

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-danger border-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item"><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    }
</ul>